.navbar{
  /* border: 1px solid grey; */
  /* border-bottom:2px solid #C040DF; */
  margin-left: 59px;
  margin-right: 59px;
  background: #FFFFFF;
  /* width: 1322px; */
  height: 90px;

}
.container-fluid{
  margin-left: 57px !important;
  align-items: flex-start !important;
  flex-direction: column !important;

}
.colorBar{
  position: absolute;
  left: 58px;
  top: 27px;
  width: 27px;
  height: 9px;
  background: linear-gradient(96.34deg, #E537B9 0%, #C040DF 100%);
  border-radius: 4.5px;
}
.navbar-brand{
  position: absolute;
  width: 211px;
  height: 24px;
  left: 57px;
  top: 33px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal ;
  font-size: 24px ;
  font-weight: 600 !important;
  line-height: 24px !important;
  /* identical to box height, or 104% */
  letter-spacing: 2px;
  /* Text/text-gray-dark */
  color: #292B2E;
}
.line{
  border-top: 1px solid #E1E4E8;
}
.heading{
  position: absolute;
  width: 74px;
  height: 32px;
  left: 116px;
  top: 124px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600 !important;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #252B42;
}
.topic{
  position: absolute;
  width: 331px;
  height: 28px;
  left: 116px;
  top: 165px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400 ;
  font-size: 18px;
  line-height: 28px;
  
  /* identical to box height, or 156% */
  color: #858585;
}

#Accordionlayout {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  padding: 0px;
  gap: 36px;
  position: absolute;
  width: 1208px;
  height: auto;
  left: 116px;
  top: 225px;

}
.accordion{
  margin-bottom: 80px;
}
.accordion-item{
  /* border: none !important; */
  border: 1.5px solid #cbd5e1;
}
.accordion-button{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.1px;

/* second-text-color */

color: #737373;
}
.accordion-button:not(.collapsed){
  color:grey !important; 
  background-color: white !important;
  box-shadow: none !important;

}

.carosel-image{
 height: 462px;
 /* width: 1172px; */
 width: 100%;
 object-fit: cover;
 border-radius: 10px;
 
} 
.text-heading {

margin-top:23.5px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
letter-spacing: 0.1px;
/* Text/text-gray-dark */
color: #292B2E;
}
.carosel-text span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 28px;
  /* identical to box height, or 215% */

  letter-spacing: 1px;

  /* Text/text-gray */
  color: #586069;
}
.carousel-item{
  padding: 20px 18px 15px 18px;
  border-radius: 10px;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.dot {
margin: 0px 10px 2px 10px ;
display: inline-block;
width: 5px;
height: 5px;
background-color: #586069;
border-radius: 5px;

}

.carosel-para{
  margin-top: 1rem;
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  letter-spacing: 0.2px;

  /* Text/text-gray-dark */

  color: #292B2E;
}

.Accordionlayout{
  margin-bottom: 100px;
}

/* @media screen and (max-width: 600px) {

  .carousel-item{
    padding: 20px 18px 15px 18px;
    border-radius: 10px;
    background: rgb(238,174,202) ;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(233,226,148,1) 82%);
  }
   .colorBar{
  position: absolute;
  left: 58px;
  top: 27px;
  width: 27px;
  height: 9px;
  background-color:black !important ;
  border-radius: 4.5px;
}
} */